include LICENSE
include *.md

recursive-include wazp/*.py
recursive-include wazp/pages *.py

recursive-exclude sample_project *.avi
recursive-exclude sample_project *.h5
recursive-exclude docs *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

include *.sh
